<section class="sidebar">
    <ul class="sidebar-menu">
        <li>
            <a ui-sref="monitoramento">
                <i class="fa fa-dashboard"></i>
                <span>
                    Monitoramento
                </span>
            </a>
        </li>
        <li class="treeview">
            <a href>
                <i class="fa fa-edit"></i> <span> Gerenciamento </span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a ui-sref="ciclo-pagamento">
                        Ciclo de Pagamento
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</section>