<div class="box-body">
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Mês</th>
                <th>Ano</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="cicloPagamentoModel in cicloPagamentoController_.cicloPagamentoList">
                <td> {{cicloPagamentoModel.nome}} </td>
                <td> {{cicloPagamentoModel.mes}} </td>
                <td> {{cicloPagamentoModel.ano}} </td>
                <td class="table-actions">
                    <button ng-click="cicloPagamentoController_.update(cicloPagamentoModel)" class="btn btn-warning"><i class="fa fa-pencil"></i></button>
                    <button ng-click="cicloPagamentoController_.removerCicloPagamento(cicloPagamentoModel)" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>